.btn-blue {
    background-color: #98AFCA;
    color: white;
}

.CommunityMain{
    font-family: "TmoneyRoundWind";
    text-align: center;
}

.CommunityQna{
    font-family: "TmoneyRoundWind";
    text-align: center;
}
.QnaCreate{
    font-family: "TmoneyRoundWind";
    text-align: center;
}

.tableHead{
    display: flex;
    justify-content: space-between;
}

.align{
    display: flex;
}
.title{
    color: black;
    font-size: 20px;
    text-align: left;
}
.summit{
    color: #666666;
    text-align: left;
}
