.category-area {
    text-align: center;
}

.content-area {
    margin-bottom: 100px;
}

div.content-area .header {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin: 0 0;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

div.content-area div.header h3 {
    height: 50px;
    line-height: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 14px;
    color: gray;
}

div.content-area div.header .selected {
    font-weight: 900;
    font-size: 18px;
    color: black;
    text-decoration-line: underline;
}

div.content-area div.header .non-selected {
    cursor: pointer;
}

div.content-area .body {
    padding: 0 45px;
}

div.content-area div.body .items div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.content-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: auto;
    cursor: pointer;
    gap: 10px;
    border: solid 1px rgb(214, 214, 214);
    border-radius: 5px;
    padding: 10px;
}

.content-card:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.content-card img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}

.content-card h5 {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 14px;
    margin: 0 0;
}

.content-card .tags {
    height: 24px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 5px;
    padding: 0 0;
    margin: 0 0;
}

.content-card .tags .tag {
    border-radius: 3px;
    background-color: rgb(229, 229, 229);
    display: inline-block;
    /* inline 요소를 block 요소로 변경하여 width 조절 가능 */
    padding: 3px 5px;
    /* 패딩을 추가하여 텍스트 주위에 여백 생성 */
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 12px;
}

.more-button {
    padding: 10px;
    background-color: rgb(229, 229, 229);
    font-weight: 600;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    display: block;
}

.second-category{
    cursor:pointer
}