/*join, login*/

.round-box{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border:solid 1px;
    border-color: lightgray;
    margin: 100px auto;
    text-align: center;
}

.top-message{
    width: 300px;
    height: 100px;
    margin : 0 auto;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    line-height: 100px;
    font-family: 'TmoneyRoundWind';
    font-size: 25px;
    color:#98AFCA;
    border-bottom: solid 2px;
    border-color: #98AFCA;
}

.box-design1{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    border: solid 1px;
    border-color: #98AFCA;
    background-color: white;
}

.box-design2{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: 15px auto;
    border: solid 1px;
    font-family: 'TmoneyRoundWind';
    line-height: 40px;
    color:white;
    border-color: white;
    background-color: #98AFCA;
}

.jointext{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    width: 300px;
    height: 20px;
}

.msgtext{
    margin: 0 auto;
    width: 300px;
    height: 15px;
    font-size: 12px;
    color:red;
    text-align: left;
}

.smallMsg{
    height: 20px;
    float: right;
    margin: 0;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
    color: gray;
}

/*공통 마이페이지*/
.my-header{
    font-family: 'GangwonEduPowerExtraBoldA';
    color: #98AFCA;
}

.mypage-wrap{
    min-height: 800px;
}

.mypageList{
    width: 180px;
    height: 200px;
    float: left;
    list-style: none;
    margin: 0 0;
    padding : 0 0;
}

.mypageList-btn{
    width: 180px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-family: 'TmoneyRoundWind';
    font-size: small;
    border:solid 1px;
    border-color: lightgray;
    text-align:left;
    padding: 0 10px;
    margin: 0 auto;
    color:grey;
}
.mypageList-btn:hover{
    color:black;
}
.mypageList-btn:active{
    background-color: #98AFCA;
    color: white;
}

.mypage-area{
    width: 1100px;
    margin: 0 0;
    height: 720px;
    /*border:solid 1px;*/
    float:left;
    padding: 10px 50px;
}

/* 회원정보관리 */

.acc-wrap{
    width: 100%;
    height: 260px;
    border-top: solid #98AFCA ;
    border-bottom: solid #98AFCA ;
    background-color: aliceblue;
    display: flex;
}

div.acc-wrap
.img-area{
    margin: 0 0;
    padding: 0 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
}

div.acc-wrap div.img-area
img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

div.acc-wrap div.img-area
.img-btn{
    width: 100px;
    height: 30px;
    display: inline-block;
    background-color: gray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    font-family: 'TmoneyRoundWind';

}

div.acc-wrap 
.info-area{
    margin: 0 0;
    padding: 20px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
}

div.acc-wrap div.info-area
.acc-box{
    width: 100%;
    height: 30px;
    margin: 10px 0;
}

div.acc-wrap div.info-area div.acc-box
h5{
    width: 100px;
    height: 30px;
    font-size:medium;
    font-weight: 700;
    font-family: 'Noto Sans KR';
    float: left;
    text-align: left;
    line-height: 30px;
}

div.acc-wrap div.info-area div.acc-box
div{
    margin: 0 0;
    padding: 0 0;
    height: 30px;
    float: left;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Noto Sans KR';
    line-height: 30px;
    
}

.text-btn{
    cursor: pointer;
    color: gray;
}

.text-btn:hover{
    color:black;
}


/* 크롭 */

.cropper-wrap{
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.cropper-area{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    z-index: 9999;
    background-color: white;
    width: 800px;
    height: 520px;
    display: flex;
    flex-direction: column;
}

div.cropper-area
.x-btn{
    float:right;
    font-family: 'TmoneyRoundWind';
    font-weight: 400;
    color: gray;
    margin:0 10px;
    cursor: pointer;
}

div.cropper-area
h3{
    font-size: large;
    font-weight: 600;
    font-family: 'Noto Sans KR';
    margin: 15px 0;
    padding: 0 10px;
}

div.cropper-area
span{
    color: gray;
    font-size: small;
}

div.cropper-area 
.btn-area{
    margin: 13px 0;
    padding: 0 10px;
}

div.cropper-area
.crop-btn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #98AFCA;
    color: white;
    float: right;
    float:right;
}

.acc-header{
    width: 150px;
    height: 50px;
    margin: 0 0;
    padding: 0 40px;
    font-size:medium;
    font-family: 'Noto Sans KR';
    float: left;
}

.pwc-box-wrap{
    width:200px;
    height: 50px;
    margin: 0 0;
    margin-right: 10px;
    padding: 2px 0;
    float: left;
}

.pwc-box{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px;
    border-color: #98AFCA;
}

.pwBtn{
    margin: 20px 47%;
    border: solid 1px;
    border-color: #98AFCA;
}

.err-msg{
    width: 300px;
    height: 50px;
    float: left;
    font-size: 12px;
    color:red;
    line-height: 50px;
    text-align: left;
    padding: 0 10px;
}

/* 채팅 */

.chat-bottom{
    width: 1000px;
    height: 600px;
    margin: 0 0;
    padding: 0 0;
    border: solid #98AFCA 2px;
    float: left;
}

.chat-boxes{
    width: 30%;
    height: 100%;
    margin: 0 0;
    border-right: solid #98AFCA 2px;
    float: left;
}

.chat-box{
    width: 70%;
    height: 100%;
    margin: 0 0;
    background-color: aliceblue;
    float: left;
}

a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
    color: #666;
    text-decoration: none;
}

div.chat-bottom div.chat-boxes
.signMsg{
    margin: 270px auto;
    text-align: center;
    font-size: 14px;
}

div.chat-bottom div.chat-boxes
a:hover { 
    text-decoration : none;
    color : #98AFCA;
}

div.chat-bottom div.chat-boxes
.item{
    display: block;
    height: 80px;
    padding: 12px 24px;
    cursor: pointer;
}

div.chat-bottom div.chat-boxes
.selected{
    background-color:#98AFCA;
    color:white;
}

div.chat-bottom div.chat-boxes
.selected:hover{
    text-decoration : none;
    color:white;
}

div.chat-bottom div.chat-boxes a.item
h3{
    font-size: 14px;
    font-weight: bold;
}

div.chat-bottom div.chat-boxes a.item
time{
    float: right;
    margin-left: 8px;
    line-height: 20px;
    font-size: 12px;
}

div.chat-bottom div.chat-boxes a.item
p{
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.chat-bottom div.chat-box
.title{
    left: 0;
    top: 0;
    padding: 12px 0 0 16px;
    height: 80px;
    border-bottom: 1px solid #98AFCA;
    background-color:white;
}

div.chat-bottom div.chat-box div.title
h2{
    flex: auto;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float : left;
    height: 60px;
    margin: 0 5px;
}

div.chat-bottom div.chat-box div.title
a.send{
    float : left;
    cursor: pointer;
    line-height: 50px;
    height: 60px;
}

div.chat-bottom div.chat-box
.content{
    margin: 0 8px;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

div.chat-bottom div.chat-box div.content
.item{
    margin: 10px 0;
    border-bottom: 1px solid #98AFCA;
    padding: 12px 15px;
}

div.chat-bottom div.chat-box div.content div.item
time{
    float: right;
    line-height: 20px;
    color: #a6a6a6;
    font-size: 12px;
}

div.chat-bottom div.chat-box div.content div.item
.type{
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    width: 500px;
}

div.chat-bottom div.chat-box div.content div.item
.colortext{
    color: #1E2A52;
}

div.chat-bottom div.chat-box div.content div.item
.colortext2{
    color:#2D61A0;
}

div.chat-bottom div.chat-box div.content div.item
.text{
    margin-top: 4px;
    line-height: 20px;
    color: #292929;
    font-size: 14px;
    word-wrap: break-word;
}

div.mypage-chat
.my-header{
    float: left;
    
}

div.mypage-chat
.send{
    margin-left: 5px;
    cursor: pointer;
}

div.mypage-chat
.modal{
    margin-left: -200px;
    margin-top: -106.5px;
    display: block;
    padding: 0 25px;
    padding-top: 25px;
    width: 400px;
    height: 290px;
    box-sizing: border-box;
    
}

div.mypage-chat div.modal
.close{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    /*background: transparent url(/images/new/container.modal.close.png) no-repeat center center;*/
    background-size: 15px 15px;
    cursor: pointer;
}

div.mypage-chat div.modal
h3{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    text-align: center;
    padding-left: 10px;
}

div.mypage-chat div.modal
.receiver{
    margin: 0 0;
    padding: 0 0;
}

div.mypage-chat div.modal p.receiver
input{
    width: 100%;
    height: 30px;
    border: 1px solid #e3e3e3;
    padding-left: 6px;
    font-size: 14px;
    margin: 0 auto;
}

div.mypage-chat div.modal p
textarea{
    padding: 5px;
    width: 100%;
    height: 100px;
    line-height: 20px;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    resize: none;
    color: #292929;
    font-size: 14px;
    margin-top: 5px;
}

div.mypage-chat div.modal
.button{
    width: 150px;
    height: 40px;
    line-height: 40px;
    top: 50%;
    font-family: "TmoneyRoundWind";
    text-align: center;
    color: white;
    background-color : #98afca;
    border-radius: 5px;
    margin: 0 28%;
    cursor: pointer;
}

div.mypage-chat div.modal
.message{
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: 15px;
    font-size: 12px;
    color:red;
    text-align: center;
}

.scroll-area {
  overflow-y: scroll;
  scrollbar-width: thin; /* for Firefox */
  -ms-overflow-style: scrollbar; /* for Internet Explorer, Edge */
}

/* Chrome, Safari, and Opera */
.scroll-area::-webkit-scrollbar {
  width: 6px;
}
.scroll-area::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scroll-area-hidden {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}
  
/* Chrome, Safari, Opera */
.scroll-area-hidden::-webkit-scrollbar {
    display: none;
}

/* 회원탈퇴 */

.witdraw-wrap{
    width: 100%;
    height: 260px;
    border-top: solid #98AFCA ;
    border-bottom: solid #98AFCA ;
    background-color: aliceblue;
}

div.witdraw-wrap
.witdraw-box{
    width: 50%;
    height: 50px;
    margin: 10px 0;
    line-height: 50px;
}

div.witdraw-wrap div.witdraw-box
.witdraw-header{
    width: 150px;
    height: 50px;
    margin: 0 0;
    padding: 0 40px;
    font-size:medium;
    font-family: 'Noto Sans KR';
    float: left;
}

div.witdraw-wrap div.witdraw-box
.witdraw-box-wrap{
    width:200px;
    height: 50px;
    margin: 0 0;
    margin-right: 10px;
    padding: 2px 0;
    float: left;
}

div.witdraw-wrap div.witdraw-box
.witdraw-box{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px;
    border-color: #98AFCA;
}

.witdrawBtn{
    margin: 20px 47%;
    border: solid 1px;
    border-color: #98AFCA;
}

.small-msg-center{
    height: 20px;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
    color: gray;
}

.social-logo-list{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

div.social-logo-list
.social-logo{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.join-item{
    margin: 0 auto;
    text-align: left;
    width: 300px;
    height: 90px;
}

div.join-item
.join-input{
    width: 100%;
    margin: 0 0;
    display: flex;
    justify-content: center;
}

div.join-item div.join-input
input{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    border: solid 1px;
    border-color: #98AFCA;
    background-color: white;
    padding-left: 5px;
}

div.join-item div.join-input
.auth-btn{
    width: 55px;
    margin-left: 5px;
    height: 40px;
    border-radius: 5px;
    border-color: white;
    background-color: #98AFCA;
    text-align: center;
    line-height: 40px;
    color:white;
    font-family: 'TmoneyRoundWind';
    cursor: pointer;
}