/*join, login*/

.round-box{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border:solid 1px;
    border-color: lightgray;
    margin: 100px auto;
    text-align: center;
}

.top-message{
    width: 300px;
    height: 100px;
    margin : 0 auto;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    line-height: 100px;
    font-family: 'TmoneyRoundWind';
    font-size: 25px;
    color:#98AFCA;
    border-bottom: solid 2px;
    border-color: #98AFCA;
}

.box-design1{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    border: solid 1px;
    border-color: #98AFCA;
    background-color: white;
}

.box-design2{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    border: solid 1px;
    font-family: 'TmoneyRoundWind';
    line-height: 40px;
    color:white;
    border-color: white;
    background-color: #98AFCA;
}

.jointext{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    width: 300px;
    height: 20px;
}

.msgtext{
    margin: 0 auto;
    width: 300px;
    height: 15px;
    font-size: 12px;
    color:red;
    text-align: left;
}

.smallMsg{
    height: 20px;
    float: right;
    margin: 0;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
    color: gray;
}

/*공통 마이페이지*/
.my-header{
    font-family: 'GangwonEduPowerExtraBoldA';
    color: #98AFCA;
}

.mypage-wrap{
    min-height: 800px;
}

.mypageList{
    width: 180px;
    height: 200px;
    float: left;
    list-style: none;
    margin: 0 0;
    padding : 0 0;
}

.mypageList-btn{
    width: 180px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-family: 'TmoneyRoundWind';
    font-size: small;
    border:solid 1px;
    border-color: lightgray;
    text-align:left;
    padding: 0 10px;
    margin: 0 auto;
    color:grey;
}
.mypageList-btn:hover{
    color:black;
}
.mypageList-btn:active{
    background-color: #98AFCA;
    color: white;
}

.mypage-area{
    width: 1100px;
    margin: 0 0;
    height: 720px;
    /*border:solid 1px;*/
    float:left;
    padding: 10px 50px;
}


/* 회원정보관리 */

.acc-wrap{
    width: 100%;
    height: 260px;
    border-top: solid #98AFCA ;
    border-bottom: solid #98AFCA ;
    background-color: aliceblue;
}

.acc-box{
    width: 50%;
    height: 50px;
    margin: 10px 0;
    line-height: 50px;
}

.acc-header{
    width: 150px;
    height: 50px;
    margin: 0 0;
    padding: 0 40px;
    font-size:medium;
    font-family: 'Noto Sans KR';
    float: left;
}

.pwc-box-wrap{
    width:200px;
    height: 50px;
    margin: 0 0;
    margin-right: 10px;
    padding: 2px 0;
    float: left;
}

.pwc-box{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px;
    border-color: #98AFCA;
}

.pwBtn{
    margin: 20px 47%;
    border: solid 1px;
    border-color: #98AFCA;
}

.err-msg{
    width: 300px;
    height: 50px;
    float: left;
    font-size: 12px;
    color:red;
    line-height: 50px;
    text-align: left;
    padding: 0 10px;
}

/* 채팅 */

.chat-select{
    width: 100%;
    height: 35px;
    padding: 0 0;
    margin: 0px 0px;
}

.chat-btn-click{
    width: 80px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-family: 'TmoneyRoundWind';
    font-size: small;
    border-top: solid #98AFCA 2px;
    border-right: solid #98AFCA 2px;
    border-left: solid #98AFCA 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin: 0 0px;
    margin-right: 5px;
    color:white;
    background-color:#98AFCA;
    float: left;
}

.chat-btn{
    width: 80px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-family: 'TmoneyRoundWind';
    font-size: small;
    border-top: solid #98AFCA 2px;
    border-right: solid #98AFCA 2px;
    border-left: solid #98AFCA 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin: 0 0px;
    margin-right: 5px;
    color:grey;
    background-color: white;
    float: left;
}

.chat-bottom{
    width: 1000px;
    height: 600px;
    margin: 0 0;
    padding: 0 0;
    border: solid #98AFCA 2px;
    float: left;
}

.chat-boxes{
    width: 30%;
    height: 100%;
    margin: 0 0;
    border-right: solid #98AFCA 2px;
    float: left;
}

.chat-box{
    width: 70%;
    height: 100%;
    margin: 0 0;
    background-color: aliceblue;
    float: left;
}

a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
    color: #666;
    text-decoration: none;
}

div.chat-bottom div.chat-boxes
a:hover { 
    text-decoration : none;
    color : #98AFCA;
}

div.chat-bottom div.chat-boxes
.item{
    display: block;
    height: 80px;
    padding: 12px 24px;
    cursor: pointer;
}

div.chat-bottom div.chat-boxes
.selected{
    background-color:#98AFCA;
    color:white;
}

div.chat-bottom div.chat-boxes a.item
h3{
    font-size: 14px;
    font-weight: bold;
}

div.chat-bottom div.chat-boxes a.item
time{
    float: right;
    margin-left: 8px;
    line-height: 20px;
    font-size: 12px;
}

div.chat-bottom div.chat-boxes a.item
p{
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.chat-bottom div.chat-box
.title{
    left: 0;
    top: 0;
    padding: 12px 0 0 16px;
    height: 80px;
    border-bottom: 1px solid #98AFCA;
    background-color:white;
}

div.chat-bottom div.chat-box div.title
h2{
    flex: auto;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float : left;
    height: 60px;
    margin: 0 5px;
}

div.chat-bottom div.chat-box div.title
a.send{
    float : left;
    cursor: pointer;
    line-height: 50px;
    height: 60px;
}

div.chat-bottom div.chat-box
.content{
    margin: 0 8px;
    padding: 12px 16px;
}

div.chat-bottom div.chat-box div.content
.item{
    margin: 10px 0;
    border-bottom: 1px solid #98AFCA;
}

div.chat-bottom div.chat-box div.content div.item
time{
    float: right;
    margin-left: 8px;
    line-height: 20px;
    font-size: 12px;
    border : solid;
}

div.chat-bottom div.chat-box div.content div.item
.type{
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}

div.chat-bottom div.chat-box div.content div.item
.text{
    margin-top: 4px;
    line-height: 20px;
    color: #292929;
    font-size: 14px;
    word-wrap: break-word;
}

.modal-wrap{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    background-color: #fff;
}

div.mypage-chat
.modal{
    margin-left: -200px;
    margin-top: -106.5px;
    display: block;
    padding: 25px;
    width: 400px;
    height: 250px;
    box-sizing: border-box;
}

div.mypage-chat div.modal
.close{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    /*background: transparent url(/images/new/container.modal.close.png) no-repeat center center;*/
    background-size: 15px 15px;
    cursor: pointer;
}

div.mypage-chat div.modal
h3{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: normal;
}

div.mypage-chat div.modal p
textarea{
    padding: 5px;
    width: 100%;
    height: 100px;
    line-height: 20px;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    resize: none;
    color: #292929;
    font-size: 14px;
}

div.mypage-chat div.modal
.button{
    width: 150px;
    height: 40px;
    line-height: 40px;
    top: 50%;
    font-family: "TmoneyRoundWind";
    text-align: center;
    color: white;
    background-color : #98afca;
    border-radius: 5px;
    margin: 0 28%;
    cursor: pointer;
}

.scroll-area {
  overflow-y: scroll;
  scrollbar-width: thin; /* for Firefox */
  -ms-overflow-style: scrollbar; /* for Internet Explorer, Edge */
}

/* Chrome, Safari, and Opera */
.scroll-area::-webkit-scrollbar {
  width: 6px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}