.round-box{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border:solid 1px;
    border-color: lightgray;
    margin: 100px auto;
    text-align: center;
}

.top-message{
    width: 300px;
    height: 100px;
    margin : 0 auto;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    line-height: 100px;
    font-family: 'TmoneyRoundWind';
    font-size: 25px;
    color:#98AFCA;
    border-bottom: solid 2px;
    border-color: #98AFCA;
}

.box-design1{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    border: solid 1px;
    border-color: #98AFCA;
    background-color: white;
}

.box-design2{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    border: solid 1px;
    font-family: 'TmoneyRoundWind';
    line-height: 40px;
    color:white;
    border-color: white;
    background-color: #98AFCA;
}

.jointext{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    width: 300px;
    height: 20px;
}

.msgtext{
    margin: 0 auto;
    width: 300px;
    height: 15px;
    font-size: 12px;
    color:red;
    text-align: left;
}

.smallMsg{
    height: 20px;
    float: right;
    margin: 0;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
    color: gray;
}

.mypageList{
    width: 300px;
    height: 500px;
    float: left;
    border:solid;
}

.mypageList-btn{
    cursor: pointer;
}

@font-face {
    font-family: 'TmoneyRoundWind';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }