.MentoringMain {
    text-align: center;
}

.MentoringCreate {
    text-align: center;
}

.MentoringPost {
    text-align: center;
}

.child {
    margin: 5px auto;
}

.modal-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-view {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    overflow: hidden;
    padding: 32px;
    min-width: 500px;
    width: 500px;
    height: 600px;
    max-height: 700px;
    border-radius: 8px;
    background-color: #fff;
}

.modal-backdrop {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.PortfolioManage {
    margin-bottom: 50px;
}

.scroll-box {
    background-color: white;
    width: 100%;
    height: 400px;
    overflow: scroll;
}

.scroll-box::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.mento {
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0px;
}

.brief {
    text-align: start;
    font-size: 25px;
    font-weight: 700;
    margin: 5px 0px;
}

.subjectWrapper {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

.subject {
    margin: 5px;
    background-color: #D0D1D9;
    padding: 2px 4px;
    border-radius: 5px;
}

.subject>div {
    color: rgba(77, 78, 84, 1);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.32px;
}

.bottom {
    padding: 15px 0px;
}

.manage-bar {
    display: flex;
    flex-direction: row;
}

.manage-bar>div {
    color: rgba(77, 78, 84, 1);
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: -0.32px;
}

.price {
    color: rgba(77, 78, 84, 1);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.32px;
    text-align: start;
}

.joinBtn {
    margin-top: 20px;
}

.duration-input {
    width: 50px;
    height: 30px;
    margin: 10px;
    border: 1px solid #d1d1d1;
    padding-left: 10px;
    text-align: left;
    color: gray;
}

.tuition-input {
    width: 80px;
    height: 30px;
    margin: 10px;
    border: 1px solid #d1d1d1;
    padding-left: 10px;
    text-align: left;
    color: gray;
}

.disabled {
    color: #D0D1D9 !important;
}

.category {
    color: #282c34;
}

.cardBrief {
    color: #1D1D29;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noScore {
    color: #4D4E54;
    font-size: 14px;
    font-weight: 500;
}

.score {
    color: #FFD800;
}

.card-subjectWrapper {
    display: flex;
    flex-direction: row;
}

.card-subject {
    margin: 5px;
    background-color: #D0D1D9;
    padding: 2px 4px;
    border-radius: 5px;
}

.card-subject>div {
    color: rgba(77, 78, 84, 1);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.32px;
}