.MentoringMain{
    /* font-family: "TmoneyRoundWind"; */
    text-align: center;
}
.MentoringCreate{
    text-align: center;
}
.MentoringPost{
    text-align: center;
}

.child{
    margin: 5px auto;
}