.review-container {
    text-align: start;
}

.review-container>.row-wrapper {
    display: flex;
    align-items: center;
}

.writer {
    font-weight: 600;
    margin-right: 5px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #D6D6D6;
    margin: 10px 0;
}

.review-content {
    margin-top: 5px;
}

.review-date {
    font-size: 12px;
    opacity: 0.7;
}

.review-scroll-box {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* for Firefox */
    -ms-overflow-style: scrollbar;
    /* for Internet Explorer, Edge */
}

/* Chrome, Safari, and Opera */
.review-scroll-box::-webkit-scrollbar {
    width: 6px;
}

.review-scroll-box::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

.review-scroll-box::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.review-scroll-box {
    -ms-overflow-style: none;
    /* IE, Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Chrome, Safari, Opera */
.scroll-area-hidden::-webkit-scrollbar {
    display: none;
}

.review-title {
    font-size: 18px;
    font-weight: 600;
}

.review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}