div.room-part div.row
.col-md-3
{
    width: 20%;
    margin: 0 0;
    padding: 0 0;
}

div.room-part div.row
.col-md-9
{
    width: 80%;
    margin: 0 0;
}

div.room-part div.row div.col-md-3
.profile{
    border-radius: 10px;
    background-color: rgb(241, 241, 241) ;
    width: 200px;
    height: 350px;
    margin: 0 auto;
    display: flex; /* 플렉스 컨테이너로 설정 */
    flex-direction: column;
}

div.room-part div.row div.col-md-3 div.profile
img{
    margin: 0 auto;
    margin-top: 40px;
    width: 100px;
    height: 100px;
    display: block;
}

div.room-part div.row div.col-md-3 div.profile 
.info{
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

div.room-part div.row div.col-md-3 div.profile div.info
.area{
    width: 48%;
}

div.room-part div.row div.col-md-3 div.profile div.info div.area
p{
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
}

div.room-part div.row div.col-md-3 div.profile div.info div.area
h2{
    text-align: center;
    font-size: 18px;
    color: rgb(61, 105, 144);
    font-weight: bold;
}

div.room-part div.row div.col-md-3 div.profile
.name{
    margin: 5px auto;
    line-height: 50px;
    font-size: 16px;
    float : left;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    width: 80%;
    border-bottom: 1px solid lightgray;
}

div.room-part div.row div.col-md-3 div.profile
span{ /* 사용자 이름 부분*/
    font-size: 18px;
    color: rgb(61, 105, 144);
}

div.room-part div.row div.col-md-3 div.profile
.create-btn{
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 80%;
    margin: 5px auto;
    font-size: 14px;
    font-weight: 400;
    color:white;
    border:solid 1px rgb(61, 105, 144);
    border-radius: 5px;
    background-color: rgb(61, 105, 144);
}

div.room-part div.row div.col-md-9
.list-area{
    margin-bottom: 20px;
}

div.room-part div.row div.col-md-9 div.list-area
h2{
    flex: auto;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600; 
    float : left;
    width: 100%;
    margin: 0 10px;
}

div.room-part div.row div.col-md-9 div.list-area div.items 
.item
{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0,0,0,.2);
    width: 96%;
    margin: 10px 10px;
}

div.room-part div.row div.col-md-9 div.list-area div.items a.item
h3{
    flex: auto;
    line-height: 14px;
    font-size: 14px;
    float : left;
    cursor: pointer;
    padding-left: 20px;
    width: 100%;
    margin: 15px 0;
}


/* 스터디룸 create */

.create-wrap{
    border-radius: 20px;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    padding: 20px 0;
    border: solid 1px;
    border-color: lightgray;
}

div.create-wrap
.title{
    width: 400px;
    height: 70px;
    margin : 10px auto;
    margin-bottom: 30px;
    text-align: center;
    line-height: 70px;
    font-family: 'TmoneyRoundWind';
    font-size: 25px;
    color:#98AFCA;
    border-bottom: solid 2px;
    border-color: #98AFCA;
}

div.create-wrap 
.item{
    width: 400px;
    margin: 15px auto;
}

div.create-wrap div.item
.name{
    font-size: 14px;
    font-weight: 600;
    margin: 0 0;
    margin-bottom: 5px;
}

div.create-wrap div.item
.input-area{
    border-radius: 5px;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    border: solid 1px;
    border-color: #98AFCA;
    background-color: white;
    padding-left: 5px;
}

div.create-wrap
.create-btn{
    border-radius: 5px;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    border: solid 1px;
    font-family: 'TmoneyRoundWind';
    line-height: 40px;
    color:white;
    border-color: white;
    background-color: #98AFCA;
    text-align: center;
    cursor: pointer;
}

div.create-wrap
.message{
    margin: 5px auto;
    width: 400px;
    height: 15px;
    font-size: 12px;
    color:red;
    text-align: center;
}

/* 스터디룸 0개 시 안내 */
div.room-part div.list-area
.img-notice{

}

div.room-part div.list-area div.img-notice
img{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

div.room-part div.list-area div.img-notice
div{
    font-family: 'TmoneyRoundWind';
    margin: 0 auto;
    text-align: center;
    text: gray;
}

div.room-part div.list-area div.img-notice
span{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: gray;
}

/*미로그인시 로그인 안내*/

.img-error{
    margin: 130px 0;
}

div.img-error
img{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

div.img-error
div{
    font-family: 'TmoneyRoundWind';
    margin: 0 auto;
    text-align: center;
}

div.img-error
span{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: gray;
}