div.room-part div.row
.col-md-3
{
    width: 20%;
    margin: 0 0;
    padding: 0 0;
}

div.room-part div.row
.col-md-9
{
    width: 80%;
    margin: 0 0;
}

div.room-part div.row div.col-md-3
.profile{
    border-radius: 10px;
    background-color: rgb(241, 241, 241) ;
    width: 200px;
    height: 350px;
    margin: 0 auto;
    display: flex; /* 플렉스 컨테이너로 설정 */
    flex-direction: column;
}

div.room-part div.row div.col-md-3 div.profile
img{
    margin: 0 auto;
    margin-top: 40px;
    width: 100px;
    height: 100px;
    display: block;
}

div.room-part div.row div.col-md-3 div.profile 
.info{
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

div.room-part div.row div.col-md-3 div.profile div.info
.area{
    width: 48%;
}

div.room-part div.row div.col-md-3 div.profile div.info div.area
p{
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
}

div.room-part div.row div.col-md-3 div.profile div.info div.area
h2{
    text-align: center;
    font-size: 18px;
    color: rgb(61, 105, 144);
    font-weight: bold;
}

div.room-part div.row div.col-md-3 div.profile
.name{
    margin: 5px auto;
    line-height: 50px;
    font-size: 16px;
    float : left;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    width: 80%;
    border-bottom: 1px solid lightgray;
}

div.room-part div.row div.col-md-3 div.profile
span{ /* 사용자 이름 부분*/
    font-size: 18px;
    color: rgb(61, 105, 144);
}

div.room-part div.row div.col-md-3 div.profile
.create-btn{
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 80%;
    margin: 5px auto;
    font-size: 14px;
    font-weight: 400;
    color:white;
    border:solid 1px rgb(61, 105, 144);
    border-radius: 5px;
    background-color: rgb(61, 105, 144);
}

div.room-part div.row div.col-md-9
.list-area{
    margin-bottom: 20px;
}

div.room-part div.row div.col-md-9 div.list-area
.header{
    display: flex;
    width: 100%;
}

div.room-part div.row div.col-md-9 div.list-area
h2{
    line-height: 50px;
    font-size: 18px;
    font-weight: 600; 
    margin: 0 5px;
    display: inline;
    float: left;
    color: gray;
    cursor: pointer;
}

div.room-part div.row div.col-md-9 div.list-area
.sel{
    color: #98AFCA;
}

div.room-part div.row div.col-md-9 div.list-area .items{
    display: flex;
    flex-wrap: wrap;
}

div.room-part div.row div.col-md-9 div.list-area div.items 
.item
{
    display: flex;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0,0,0,.2);
    width: 230px;
    height: 200px;
    margin: 10px 10px;
    cursor: pointer;
}

div.room-part div.row div.col-md-9 div.list-area div.items
.img-area{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

div.room-part div.row div.col-md-9 div.list-area div.items div.item div.img-area 
img{
    transition: transform 0.3s ease;
}

div.room-part div.row div.col-md-9 div.list-area div.items div.item
.join-area{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    float: left;
    padding: 8px;
}

div.room-part div.row div.col-md-9 div.list-area div.items div.item .join-area
span{
    margin: 0 5px;
}

div.room-part div.row div.col-md-9 div.list-area div.items div.item
h3{
    line-height: 14px;
    font-size: 14px;
    font-weight: 400;
    color: gray;
    margin: 15px 0;
    font-family: 'TmoneyRoundWind';
}

/* hover 효과 */

div.room-part div.row div.col-md-9 div.list-area div.items 
div.item:hover img {
    /* item hover시 img 확대 */
    transform: scale(1.1);
}

div.room-part div.row div.col-md-9 div.list-area div.items 
div.item:hover h3{
    color: black;
}

/* 스터디룸 create */

.create-wrap{
    border-radius: 20px;
    width: 500px;
    height: 720px;
    margin: 100px auto;
    padding: 20px 0;
    border: solid 1px;
    border-color: lightgray;
}

div.create-wrap
.title{
    width: 400px;
    height: 70px;
    margin : 10px auto;
    margin-bottom: 30px;
    text-align: center;
    line-height: 70px;
    font-family: 'TmoneyRoundWind';
    font-size: 25px;
    color:#98AFCA;
    border-bottom: solid 2px;
    border-color: #98AFCA;
}

div.create-wrap 
.item{
    width: 400px;
    margin: 15px auto;
}

div.create-wrap div.item
.name{
    font-size: 14px;
    font-weight: 600;
    margin: 0 0;
    margin-bottom: 5px;
}

div.create-wrap div.item
.input-area{
    border-radius: 5px;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    border: solid 1px;
    border-color: #98AFCA;
    background-color: white;
    padding-left: 5px;
}

div.create-wrap div.item
.room-img {
    position: relative;
}

div.create-wrap div.item div.room-img
.img-area{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

div.create-wrap div.item div.room-img 
.main-img {
    flex: 1;
    border-radius: 5px;
    border: solid 1px;
    border-color: #98AFCA;
    width: 300px;
    height: 200px;
}
  
div.create-wrap div.item div.room-img 
.sub-img {
    display: flex;
    flex: 1;
    border-radius: 5px;
    border: solid 1px;
    border-color: #98AFCA;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

div.create-wrap div.item div.room-img 
span{
    font-family: 'Noto Sans KR';
    font-weight: 600;
    font-size: 12px;
    margin: 5px 0;
}
  
div.create-wrap div.item div.room-img .sub-img 
img {
    height: 28%;
    border: solid white;
    cursor: pointer;
}

div.create-wrap div.item div.room-img .sub-img
.sel-img{
    border: solid #98AFCA
}

div.create-wrap div.item div.room-img
.btn-area{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 1;

    width: 60px;
    height: 25px;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: small;
    transition: background-color 0.5s;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'TmoneyRoundWind';
    cursor: pointer;
}

div.create-wrap div.item div.room-img
.btn-area:hover{
    background-color:#98AFCA;   
}


div.create-wrap
.create-btn{
    border-radius: 5px;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    border: solid 1px;
    font-family: 'TmoneyRoundWind';
    line-height: 40px;
    color:white;
    border-color: white;
    background-color: #98AFCA;
    text-align: center;
    cursor: pointer;
}

div.create-wrap
.message{
    margin: 5px auto;
    width: 400px;
    height: 15px;
    font-size: 12px;
    color:red;
    text-align: center;
}

/* 이미지 업로드 모달 */
.room-cropper-wrap{
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.room-cropper-area{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    z-index: 9999;
    background-color: white;
    width: 800px;
    height: 520px;
    display: flex;
    flex-direction: column;
}

div.room-cropper-area
.x-btn{
    float:right;
    font-family: 'TmoneyRoundWind';
    font-weight: 400;
    color: gray;
    margin:0 10px;
    cursor: pointer;
}

div.room-cropper-area
h3{
    font-size: large;
    font-weight: 600;
    font-family: 'Noto Sans KR';
    margin: 15px 0;
    padding: 0 10px;
}

div.room-cropper-area
span{
    color: gray;
    font-size: small;
}

div.room-cropper-area
.btn-area{
    margin: 13px 0;
    padding: 0 10px;
}

div.room-cropper-area div.btn-area
.room-crop-btn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #98AFCA;
    color: white;
    float: right;
}



/* 스터디룸 0개 시 안내 */
div.room-part div.list-area
.img-notice{

}

div.room-part div.list-area div.img-notice
img{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

div.room-part div.list-area div.img-notice
div{
    font-family: 'TmoneyRoundWind';
    margin: 0 auto;
    text-align: center;
    color: gray;
}

div.room-part div.list-area div.img-notice
span{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: gray;
}

/*미로그인시 로그인 안내*/

.img-error{
    margin: 130px 0;
}

div.img-error
img{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

div.img-error
div{
    font-family: 'TmoneyRoundWind';
    margin: 0 auto;
    text-align: center;
}

div.img-error
span{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: gray;
}