.wrap{
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  min-width: 1280px;
}

.top-area {
  overflow: hidden;
  min-width: 1280px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0px;
}

.navbar{
  height: 75px;
  border-bottom: solid;
  border-color: #98afca;
}

.pwith-logo{
  width: 120px;
  height: 50px;
  float : left;
  margin: 0px;
  padding: 0px 30px;
  background-image: url('../public/pwith-logo.png');
  background-size: cover;
  border: 0px;
}

.navbar-menu{
  width: 500px;
  height: 50px;
  float:left; 
  text-align:center;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

.navbar-btn{
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  font-family: "TmoneyRoundWind";
  cursor: pointer;
  color:grey;
}

.navbar-btn:hover{
  color:black;
}

.top-msg{
  width: 1280px;
  height: 50px;
  font-size: 12px;
  padding-top:15px;
  padding-bottom: 0%;
  text-align: right;
  color: gray;
}

.mem-area{
  width: 200px;
  height: 40px;
  margin: 10px;
  padding: 0;
  float: right;
  cursor: pointer;
}

.mem-btn{
  height: 40px;
  line-height: 40px;
  top: 50%;
  font-family: "TmoneyRoundWind";
  text-align: center;
  color: #98afca;
  background-color : white;
  border-radius: 5px;
  border: solid 1px;
  border-color: #98afca;
  margin: 0 10px;
  float: left;
  cursor: pointer;
}

.mybtn {
  cursor: pointer;
}

@font-face {
  font-family: "TmoneyRoundWind";
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}
