.wrap{
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  min-width: 1280px;
  min-height: 720px;
}

.top-area {
  min-width: 1280px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0px;
  overflow: visible;
}

.navbar{
  height: 75px;
  border-bottom: solid;
  border-color: #98afca;
}

.pwith-logo{
  width: 120px;
  height: 50px;
  float : left;
  margin: 0px;
  padding: 0px 30px;
  background-image: url('../public/pwith-logo.png');
  background-size: cover;
}

.navbar-menu{
  width: 500px;
  height: 50px;
  float:left; 
  text-align:center;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

.navbar-btn{
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  font-family: "TmoneyRoundWind";
  cursor: pointer;
  color:grey;
}

.navbar-btn:hover{
  color:black;
}

ul.navbar-menu div.parent-container li.navbar-btn 
.navbar-modal{
  margin: 0 0;
  padding: 0 0;
  width: 100px;
  height: 120px;
  display: flex;
  flex-direction: row; /* 기본값 but 명시 */
  justify-content: center; /* 가로 방향으로 가운데 정렬 */
  align-items: center; /* 세로 방향으로 가운데 정렬 */
  margin-top: 8px;
  position: absolute;
  background-color: white;
  z-index: 999 !important;
  margin-top: -1px;
  border-top: 2px #98afca solid;    
  box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.1),
                  -10px 0px 10px -5px rgba(0, 0, 0, 0.1);
}

ul.navbar-menu div.parent-container li.navbar-btn div.navbar-modal
.lst{
  margin: 0 0;
  padding: 0 0;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul.navbar-menu div.parent-container li.navbar-btn div.navbar-modal ul.lst
.lst-item{
  margin: 0 0;
  padding: 0 0;
  width: 100px;
  height: 40px;
  font-family: "TmoneyRoundWind";
  font-size: small;
  line-height: 40px;
}

ul.navbar-menu div.parent-container li.navbar-btn div.navbar-modal ul.lst
.lst-item:hover{
  background-color: #98afca;
  color: white;
}

.top-msg{
  width: 1280px;
  height: 50px;
  font-size: 12px;
  padding-top:15px;
  padding-bottom: 0%;
  text-align: right;
  color: gray;
}

.mem-area{
  width: 200px;
  height: 40px;
  margin: 10px;
  padding: 0;
  float: right;
  cursor: pointer;
}

.mem-btn{
  height: 40px;
  line-height: 40px;
  top: 50%;
  font-family: "TmoneyRoundWind";
  text-align: center;
  color: #98afca;
  background-color : white;
  border-radius: 5px;
  border: solid 1px;
  border-color: #98afca;
  margin: 0 10px;
  float: left;
  cursor: pointer;
}

.mybtn {
  cursor: pointer;
}

.bottom-area{
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background-color: lightgray;
}

@font-face {
  font-family: "TmoneyRoundWind";
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) 
  format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) 
  format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

.align-right{
  display: flex;
  justify-content: right;
  align-items: right;
}

.parent-container {
  position: relative;
  z-index: 1;
}

div.mem-area div.mem-btn
.drop-down {
  margin-top: 8px;
  right: 15%;
  position: absolute;
  width: 270px;
  height: 300px;
  background-color: white;
  border: 1px lightgray solid;
  z-index: 999 !important;
  border-radius: 5px;
  font-family: "Noto Sans KR";
  color: black;
  padding: 5px 0;
  overflow: auto;
}

div.mem-area div.mem-btn div.drop-down
.item{
  display: flex;
  flex-direction: column;
  margin: 0 0;
  padding: 5px 10px;
  width: 250px;
  height: 60px;
  border-bottom: 1px lightgray solid;
}

div.mem-area div.mem-btn div.drop-down div.item
h5{
  margin: 0 0;
  padding: 0 0;
  float: left;
  font-size: small;
  font-weight: 700;
  width : 100%;
  height: 20px;
  text-align: left;
  line-height: 20px;
}

div.mem-area div.mem-btn div.drop-down div.item
h6{
  margin: 0 0;
  padding: 0 0;
  float: left;
  font-size:small;
  font-weight: 500;
  width : 100%;
  height: 20px;
  text-align: left;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}