.btn-blue {
    background-color: #98AFCA;
    color: white;
}

.btn-red {
    background-color: #E06469;
    color: white;
}


.form-wrapper {
    width: 60%;
    margin: 0 auto;
}


.title-input {
    width: 765px;
    height: 40px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    padding-left: 10px;
    text-align: left;
    color: gray;
}

div.StudyCreate div.form-wrapper .study-bottom-area {
    display: flex;
    justify-content: right;
    margin: 20px 0;
}

div.StudyCreate div.form-wrapper div.study-bottom-area .submit-button {
    margin-left: 10px;
    padding: 0 0;
    width: 60px;
    height: 40px;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
}


.StudyMain {
    /* font-family: "TmoneyRoundWind"; */
    text-align: center;
}

.StudyCreate {
    text-align: center;
}

.StudyPost {
    text-align: center;
}


.studyContent {
    margin: 10px;
    padding: 10px;
}

.studyTitle {
    margin: 10px;
}

.heart {
    width: 30px;
    height: 30px;
}

.comment {
    width: 30px;
    height: 30px;
}

.more {
    width: 30px;
    height: 30px;
}

.align-row {
    display: flex;
}

.align-side {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table th,
.table td {
    width: 100px;
}

.pointer-cursor {
    cursor: pointer;
}

.font-sm {
    font-size: 12px;
    color: #888888;
    margin: 5px;
}