.btn-blue {
    background-color: #98AFCA;
    color: white;
}

.btn-red {
    background-color: #E06469;
    color: white;
}


.form-wrapper {
    width: 60%;
    margin: 0 auto;
}

.title-input {
    width: 500px;
    height: 40px;
    margin: 10px;
    border: 1px solid #282c34;
    border-radius: 5px;
    text-align: center;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
}


.StudyMain {
    /* font-family: "TmoneyRoundWind"; */
    text-align: center;
}

.StudyCreate {
    text-align: center;
}

.StudyPost {
    text-align: center;
}


.studyContent {
    margin: 10px;
    padding: 10px;
}

.studyTitle {
    margin: 10px;
}

.heart {
    width: 30px;
    height: 30px;
}

.comment {
    width: 30px;
    height: 30px;
}

.more {
    width: 30px;
    height: 30px;
}

.align-row {
    display: flex;
}

.align-side {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table th,
.table td {
  width: 100px;
}