.btn-blue {
    background-color: #98AFCA;
    color: white;
}


.likeAndComment{
    margin-top: 20px;
}


.form-wrapper {
    width: 60%;
    margin: 0 auto;
}


.title-input {
    width: 765px;
    height: 40px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    padding-left: 10px;
    text-align: left;
    color: gray;
}

div.StudyCreate div.form-wrapper .study-bottom-area {
    display: flex;
    justify-content: right;
    margin: 20px 0;
}

div.StudyCreate div.form-wrapper div.study-bottom-area .submit-button {
    margin-left: 10px;
    padding: 0 0;
    width: 60px;
    height: 40px;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
}


.StudyMain {
    /* font-family: "TmoneyRoundWind"; */
    text-align: center;
    margin-bottom: 50px;
}

.StudyCreate {
    text-align: center;
}

.studyTitle {
    margin: 10px;
}

.heart {
    width: 30px;
    height: 30px;
}

.comment {
    width: 30px;
    height: 30px;
}

.more {
    width: 30px;
    height: 30px;
}

.align-row {
    display: flex;
}

.align-side {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table th,
.table td {
    width: 100px;
}

.pointer-cursor {
    cursor: pointer;
}

.font-sm {
    font-size: 12px;
    color: #888888;
    margin: 5px;
}

/* 추천 스터디 */
.rec-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.rec-items
.rec-item{
    width: 150px;
    margin-top: 10px;
}

div.rec-items div.rec-item
img{
    width: 100%;
    cursor: pointer;
}

div.rec-items div.rec-item
p{
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*study post*/

.StudyPost{
    margin-bottom: 100px;
}

div.StudyPost
h2{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

div.StudyPost
.study-header{
    padding-left: 10px;
    margin : 20px 0;
}

div.StudyPost div.study-header
h3{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

div.StudyPost div.study-header
.info{
    text-align: left;
    font-size: 14px;
    margin: 10px 0;
}

div.StudyPost div.study-header p.info
.info-content{
    color : gray;
}

div.StudyPost div.study-header p.info
.line{
    color:lightgray;
    margin: 0 10px;
}

div.StudyPost div.study-header p.info
.control-part{
    float: right;
}

div.StudyPost div.study-header p.info
.control-btn{
    color : gray;
    margin-right: 10px;
}

div.StudyPost div.study-header p.info
.control-btn:hover{
    color:black;
    text-decoration: underline;
}

div.StudyPost
.studyContent{
    margin: 10px 0 ;
    padding: 10px;
    min-height: 250px;
    text-align: left;
}

div.StudyPost
.studyroom-join{
    border-radius: 5px;
    border: 1px solid #98AFCA;
    height: 80px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;

    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    gap: 10px; /* 요소 사이의 간격 조절 */
}

div.StudyPost div.studyroom-join
img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

div.StudyPost div.studyroom-join
.room-title{
    width: 400px;
    text-align: left;
    padding-left: 10px;
}

div.StudyPost div.studyroom-join span.room-title
.room-p{
    margin-left: 10px;
    color: gray;
    font-size: small;
}

/* 게시글 목록 */
div.Board
.study-top{
    display: flex;
    flex-direction: center;
    gap:10px;
    align-items: center;
}
div.Board div.study-top
.setting{
    margin: 0 0 !important ;
    padding: 0 0;
}

div.Board
.posts-area{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

div.Board div.posts-area
.post-item{
    margin: 0 auto;
    height: 40px;
}

div.Board div.posts-area
.hover-effect:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

div.Board div.posts-area div.post-item
.post-title {
    display: block;
    float: left;
    width: 300px;
    height: 40px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-top: 5px;
}

div.Board div.posts-area div.post-item
.post-comm {
    display: block;
    float: left;
    width: 60px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
}

div.Board div.posts-area div.post-item
.post-writer{
    display: block;
    width: 75px;
    height: 40px;
    float: left;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
}

/* 페이지네이션 용 */


.pagination{
    margin: 20px 0;
}

div.Board div.pagination
.control-page{
    margin: 0 10px;
    color: lightgray;
}

div.Board div.pagination
.control-page:hover{
    color: gray;
}

div.Board div.pagination
.control-page:disabled{
    display: none;
}

div.Board div.pagination
.pages{
    margin: 0 auto;
}

div.Board div.pagination
.page{
    margin: 0 5px;
    cursor: pointer;
}

div.Board div.pagination
.page:hover{
    color: black;
}

div.pagination
.non-selected{
    color: gray;
}

div.pagination
.selected{
    color: black;
    text-decoration: underline;
}